@import url('https://fonts.googleapis.com/css2?family=Montez&family=Montserrat:wght@100;200;400;600&display=swap');
#hero {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    background-size: cover;
    text-align: center;
}
#hero h1 {
    margin: 0;
    font-weight: 700;
    line-height: 2rem;
    color: #45505b;
    font-size: 2rem;
}
#hero p {
    color: #45505b;
    margin: 1rem 0 0 0;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    line-height: 1.6rem;
}
#hero p span {
    color: #45505b;
}
/* ---------------------- Styles for the Social links on the home page ----------*/
#hero .social-links {
    margin-top: 2rem;
}
#hero .social-links a {
    font-size: 1.5rem;
    display: inline-block;
    color: #45505b;
    
    background: inherit;
    background-clip: text;
    filter: invert(1);
    line-height: 1;
    margin-left: 1.2rem;
    transition: .3s;
}
#hero .social-links a:hover {
    color: #e9780e;
}
.icon {
    background: url('../images/apple-touch-icon.png');
    height: 1.2rem;
    width: 1.2rem;
    display: block;
}
/*---------------------------- general sections */
section {
    padding: 4rem 0;
    overflow: hidden;
}
.section-title {
    text-align: center;
    padding-bottom: 2rem;
    text-shadow: 0 1px 0 black;
}
.section-title h2 {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1.3rem;
    padding-bottom: 1.3rem;
    position: relative;
    color: #45505b;
}
.section-title h2::before {
    content: '';
    position: absolute;
    display: block;
    width: 7rem;
    /*height: 1px;*/
    background: #ddd;
    /*bottom: 1px;*/
    left: calc(50% - 60px);
}
.section-title h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 3rem;
    /*height: 3px;*/
    background: #8e44ad;
    /*bottom: 0;*/
    left: calc(50% - 1.3rem);
}
.section-title p {
    margin-bottom: 0;
}
.img-fluid {
    border-radius: 50%;
}
/* ------------------ about page */
.about .content h3 {
    font-weight: 700;
    font-size: 1.3rem;
    color: #728394;
}
.about .content ul {
    list-style: none;
    padding: 0;
}
.about .content ul li {
    padding-bottom: .7rem;
}
.about .content ul i {
    font-size: 1.2rem;
    padding-right: .5rem;
    color: #8e44ad;
}
.bg-white-opac {
    background-color: rgba(255,255,255,.8);
    padding: 1rem;
}
/* ------------------ Contact form */
.heading {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    margin-top: 1.7rem;
    margin-bottom: 1.2rem;
}
.center-form {
    padding-top: .6rem;
    margin: 0 auto;
    max-width: 70%;
}
.button[type="submit"] {
    margin-top: 1rem;
    margin-bottom: 1.4rem;
}
/*--------------------------------Images---*/
.page1 {
    background: url("../images/cliffs.jpg") center no-repeat;
}
.page2 {
    background: url("../images/chimney.jpg") center no-repeat;
}
.page3 {
    background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, .6)
    ),
    url("../images/forest.jpg");
}
/*-------------------------------- Media Queries ---*/
@media (min-width: 992px) {
    #hero {
        padding-left: 16rem;
    }
    .center-form {
        padding-top: 0rem;
        min-height: 15rem;
        margin: 0 auto;
        max-width: 50%;
    }
}
